<body>
  <div id="topbar">
    <div id="title"><%= @article.name %></div>
    <div id="leftnav">
      <%= link_to image_tag("iphone_nav/home.png", :alt => "Accueil"), :controller =>"home" %>
      <%= link_to "Articles", :controller => "articles" %>
    </div>
  </div>
  <div id="content">
<p>
  <h3>Title:</h3>
  <%= @article.title %>
</p>

<p>
    <%= @article.content %>
</p>  </div>
</body>